<launch>
        <!-- vim: set ft=xml noet : -->
        <!-- base node launch file-->

        <node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" output="screen" respawn="true">
                <param name="fcu_url" value="/dev/ttyACM3:57600" />
                <param name="gcs_url" value="" />
                <param name="target_system_id" value="1" />
                <param name="target_component_id" value="1" />
        </node>


	<node pkg="autoquad_interface" type="mavlink_waypoint_node" name="mavlink_waypoint_node" respawn="true" output="screen">
		<param name="drone_position_hz" value = "15" />
		<param name="drone_fused_position_pub" value ="/drone/pose_fused" />
		<param name="drone_gps_position_pub" value ="/drone/pose_gps" />
		<param name="drone_waypoint_sub" value ="/drone/waypoint" />
		<param name="drone_waypoint_reached_pub" value ="/drone/waypoint_reached" />
		<param name="drone_waypoint_ack_pub" value = "/drone/waypoint_ack" />
		<param name="drone_flight_status_pub" value = "/drone/get_flight_status" />
		<param name="drone_flight_status_sub" value = "/drone/set_flight_status" />
		<param name="drone_set_current_waypoint_sub" value ="/drone/set_current_waypoint" />
		<param name="drone_clear_waypoints_sub" value ="/drone/clear_waypoints" />

		<param name="mavlink_from_sub" value ="/mavlink/from" />
		<param name="mavlink_to_pub" value ="/mavlink/to" />

		<param name="show_debug" value = "true" />
		<param name="drone_heartbeat_watchdog_secs" value = "2" />
	</node>
</launch>

